.textList {
    padding: 60px 0 0;
    background-color: #F8F8F8;

    &__section {
        position: relative;

        &:nth-child(odd) {
            background-color: #fff;
        }
    }

    &__title {
        display: block;
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translateX(-50%);
        color: #cccccc30;
        letter-spacing: 10px;

    }

    &__text {
        position: relative;
        max-width: 600px;
        margin: 0 auto;
        padding: 100px 25px;
        z-index: 1;
    }
}