.layeredTitle {
    position: relative;
    height: 30px;

    &__title {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 24px;

        &--top {
            color: #EB519D;
            z-index: 3;
        }

        &--middle {
            color: #222222;
            left: 50.3%;
            top: 3px;
            z-index: 2;
        }

        &--bottom {
            color: #34BCE6;
            left: 50.6%;
            top: 6px;
            z-index: 1;
        }
    }
}

@media only screen and (min-width: 768px) {
    .layeredTitle {
        height: 48px;

        &__title {
            font-size: 48px;
        }
    }
}

@media only screen and (min-width: 1100px) {
    .layeredTitle {
        height: 60px;

        &__title {
            font-size: 60px;
        }
    }
}